.animationContainer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
}

.mainPage {
  height: 80vh;
  z-index: 1;
  position: relative;
}

.logo {
  display: flex;
  justify-content: center;
  margin-bottom: 24px;
}

.wrapper {
  height: 100%;
  margin: 0 auto;
  display: flex;
  max-width: 640px;
  padding: 32px 16px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.title {
  font-size: 38px;
  text-align: center;
  margin-bottom: 16px;
  color: var(--systemBlueDark);
}

.text {
  font-size: 18px;
  text-align: center;
  margin-bottom: 42px;
  color: var(--systemGrayDark6);
}
